.header {
  background-color: rgba(0, 5, 10, 2);
  min-height: 100vh;
  height: 100vh;
}

.btn {
  margin-top: 15px;
}

.About  {
  background-color: rgba(0, 5, 10, 2);
  min-height: 100vh;
  height: 100vh;
}

h2 {
  color: white;
  font-size: 45px;
  color: blue;
}

.p2 {
  font-size: 30px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
