 <div class="About">
 <%= render "components/navbar" %>
  <div class="container">
    <h2>About</h2>
    <div class="about-content">
      <%= image_tag "profil.jpg", alt: "Mael Micout", class: "profil" %>
      <p class="p2">I'm Mael Micout, Full-Stack developer based in France. Fresh out of an intense and exciting coding Bootcamp (Le Wagon Amsterdam),
        I am available to work as freelancer or by contract. Fan of music, TV series and esport. Find more informations on my resume!
      </p>
    </div>
    <a class="btn btn-flat" href="#">My resume</a>
  </div>
</div>
