<div class="About">
  <%= render "components/navbar" %>
  <div class="anime-container" id="content-area">
  <div class="container">
    <div class="flex-container">
      <div class="text-content">
        <h1 class="my-name">I'm Mael M<span class="point">.</span></h1>
        <p class="p2">I'm a Full-Stack developer based in France. Fresh out of an intense and exciting coding Bootcamp (Le Wagon Amsterdam),
          I am available to work as freelancer or by contract. Fan of music, TV series and esport. Find more informations on my resume!
        </p>
        <a class="btn btn-flat front-btn" href="contact" id="resume-button">Resume</a>
      </div>
      <div class="image-content">
        <%= image_tag "profil.jpg", alt: "Mael Micout", class: "profil" %>
      </div>
    </div>
    </div>
  </div>
</div>
