<div class="header">
  <%= render "components/navbar" %>
    <div class="anime-container" id="content-area">
      <div class="banner">
        <div class="container">
          <h1>Hello <span class="wave">👋</span> <br> I am <span
            class="txt-rotate"
            data-period="2000"
            data-rotate='[ "Mael Micout", "Full-stack developer" ]'></span>
          </h1>
          <p class="p1">I’m passionate about solving problems, challenges and helping to improve things around me.</p>
          <a><%= link_to "Hire me!", contact_path, class: "btn btn-flat front-btn", id:"hire-me-button" %></a>
        </div>
      </div>
    </div>
</div>
