<div class="header">
<%= render "components/navbar" %>
  <div class="banner">
    <div class="container">
      <div id="animation-container">
        <h1>Hello <span class="wave">👋</span> <br> I am <span
     class="txt-rotate"
     data-period="2000"
     data-rotate='[ "Mael Micout", "Full-stack developer" ]'></span></h1>
      </div>
        <p>I’m passionate about solving problems, challenges and helping to improve things around me.</p>
        <a class="btn btn-flat" href="#">Hire me !</a>
    </div>
  </div>
</div>
<div class="About">
    <h2>About</h2>
    <p>I’m passionate about solving problems, challenges and helping to improve things around me.
      Fresh out of an intense and exciting coding Bootcamp (Le Wagon Amsterdam), I’m looking for an
      opportunity as Junior Web Devveloper Full Stack.
    </p>
  </div>
