<div class="home">
<%= render "components/navbar" %>
  <div class="banner">
    <div class="container">
      <div id="animation-container">
        <h1>Hello <span class="wave">👋</span> <br> I am Mael Micout</h1>
      </div>
        <p>I’m passionate about solving problems, challenges and helping to improve things around me.</p>
        <a class="btn btn-flat" href="#">Hire me !</a>
    </div>
  </div>
</div>
