<div class="project">
<%= render "components/navbar" %>
<div class="anime-container" id="content-area">
  <div class="container">
    <h2 id="my-projects">My projects</h2>
    <div class="cards">
      <div class="card-category" id="petit-geant" style="background-image: linear-gradient(rgba(0,0,0,0.3)">
        Petit Géant
      </div>

      <div class="card-category" id="coaching" style="background-image: linear-gradient(rgba(0,0,0,0.3)">
        Coaching 4 life
      </div>

      <div class="card-category" id="van" style="background-image: linear-gradient(rgba(0,0,0,0.3)">
        Vanlife 4 life
      </div>
    </div>
  </div>
</div>
