<div class="confirmation">
<%= render "components/navbar" %>
<div class="container">
<div class="anime-container" id="content-area">
  <h2>Thank you for your message!</h2>
    <div class="container">
  <br>
  <% flash.each do |key, message| %>
    <p class="alert alert-<%= key %>"><%= message %></p>
  <% end %>
</div>
</div>
</div>
