
.navbar {
  display: flex;
  position: relative;
  background-color: rgba(0, 5, 10, 2);
  z-index: 10;
}

.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  color: white;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 25px !important;
  color:white !important;
}

.nav-item {
  color: white !important;
  margin-left: 20px;
}

.nav-link {
  color: white !important;
  justify-content: flex-end;
}

.nav-item :hover {
  color: blue !important;
}
