
.navbar {
  position: relative;
  background-color: rgba(0, 5, 10, 2);
  z-index: 10;
  background-color: rgba(0, 5, 10, 2);
}

.nav-item {
  color: white !important;
  margin-left: 20px;
}

.nav-link {
  color: white !important;
}

.nav-item :hover {
  color: blue !important;
}
